body
{
  background-color:aliceblue;
}
.key-pad-title
{
  color:green;
  font-family:verdana;
  font-size:3vh;
  text-align:center;
  margin:2vw;
}

.key-pad-holder
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  width:20vw;
  height:70vh;
  margin:auto;
}

.key-pad-result-holder
{
  display:flex;
  flex-direction: column;
  justify-content:right;
  align-items: center;
  background-color: gainsboro;
  border:solid 2px black;
  border-radius:0.5vw;
  height:10vh;
  width:90%;
}

.key-pad-display
{
  background-color: gainsboro;
  border:none;
  width:10vw;
  font-size:7vh;
  text-align:right;
  margin:0.5vw;
}

.key-pad-face
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color:grey;
  border-radius:0.6vw;
  width:95%;
  height:95%
}

.key-pad-keys
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.key-pad-key
{
  display:flex;
  justify-content: center;
  align-items: center;
  border:solid 2px black;
  border-radius: 0.5vw;
  background-color: white;
  width:3.8vw;
  height:3.8vw;
  cursor:pointer;
}

.key-pad-value
{
  border: none;
  width: 3vw;
  text-align: center;
  font-size: 1.3vw;
}

.key-pad-clear
{
  background-color:coral;
}